<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    <script src="https://use.fontawesome.com/b482cc1306.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body>
    <header class="header" id="header-menu">
        <div class="pure-g header-console">
            <div class="pure-u-2-24 center-icon">
                <i class="fa fa-bars menu-button white-icon" aria-hidden="true"  onclick="menuButtonPress()"></i>
            </div>
            <div class="pure-u-22-24 console">
                <p>idBot</p>
            </div>
        </div>

        <div class="menu-content">
            menu content
            <div id="login-container" class="menu-item">
                <form>
                    <input id="login-email" placeholder="email"> </input>
                    <input type="password" id="login-password" placeholder="password"></input>
            </div>

            <div id="register-container" class="menu-item">
                register
            </div>
        </div>
        
        
    </header>
    <main class="main">
        <ul id="messages">
            <li class="bot-message">
                <div class="b-message">
                     Hey 
                </div>
            </li>
            <li class="user-message">
                <div class="u-message">
                     Hey
                </div>
            </li>
        </ul>
    </main>
    <form action="" class="text-input-form">
        <input id="m" autocomplete="off" />
        <button onclick="sendMessage(); return false;">Send</button>
    </form>
    <script src="/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="/js/helper.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>